
@{
    Layout = "";
}
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Top Digital Marketing Services in Egypt  | 4Z Software</title>
    <meta name="description"
          content="4Z Software is a leading digital marketing agency in Egypt. Diverse businesses worldwide can benefit from our innovative digital marketing services.">
    <meta name="keywords" content="">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="./index.html" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="We are seasoned developers of with expertise over 18+ yrs in industry and 5 yrs in mobility. We do have our office">
    <meta property="og:url" content="./index.html" />
    <meta property="og:image" content="./images/logo.png">
    <meta property="og:site_name" content="4Z Software Development Company" />
    <meta name="twitter:card" content="4Z Software. is a leading Business solution provider and software development Company in Egypt providing software development and consultancy services." />
    <meta name="twitter:description" content="4Z Software is a leading Business solution provider and software development Company in Egypt providing software development and consultancy services." />
    <meta name="twitter:title" content="4Z Software" />
    <meta name="rating" content="safe for kids" />
    <meta name="googlebot" content="index, follow " />
    <meta name="yahooSeeker" content="index, follow " />
    <meta name="msnbot" content="index, follow " />
    <meta name="allow-search" content="yes" />
    <meta name="revisit-after" content="3 days" />
    <meta name="distribution" content="global" />
    <meta name="Rating" content="General" />
    <meta name="Expires" content="never" />
    <meta rel="publisher" content="https://plus.google.com/u/0/117988383423314089791" />


    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font.css">
    <link rel="stylesheet" type="text/css" href="~/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">

    <link rel="shortcut icon" href="~/favicon.png" />
    <meta name="google-site-verification" content="" />
    <meta itemprop="name" content="" />
    <meta itemprop="alternateName" content="" />
    <meta itemprop="url" content="./index.html" />

    <script type="application/ld+json">
{
  "context": "http://schema.org/",
  "type": "WebSite",
  "name": "",
  "alternateName": "",
  "url": ""
}
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118364211-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '');
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = '.css/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MB797DL');</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "7ft3ae4fsl");
    </script>

    <script type="application/ld+json">
{
  "context": "https://schema.org",
  "type": "Organization",
  "name": "4Z Software",
  "alternateName": "Mobile App Development Egypt",
  "url": "",
  "logo": "./images/logo.png",
  "contactPoint": {
    "type": "ContactPoint",
    "telephone": "",
    "contactType": "sales",
    "contactOption": "HearingImpairedSupported",
    "areaServed": "US",
    "availableLanguage": "en"
  },
  "sameAs": [

  ]
}
    </script>


    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div class="inner-header">
        <!--<div class="g-recaptcha" data-sitekey="6LfPyEoaAAAAAICHuvVfTgNkNGSnT7QalqxE_nXg" data-badge="bottomleft" data-callback="onSubmit" data-size="invisible"></div>
    <header>-->
        <nav class="navbar navbar-fixed-top animated fadeIn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-2 col-sm-2 ">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="./images/Logo.png" alt="4z-Logo" class="logo_icon" width="80px">
                        </a>
                        <div class="navbar-header">
                            <div class="responsivemenu">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                                <div class="outerbox2">
                                    <div class="locaphoneicon-1" id="phoneicon">
                                        <a href="javascript:void(0);">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16" id="IconChangeColor"> <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" id="mainIconPathAttribute" fill="#ffffff"></path> </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.3" height="15" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" id="mainIconPathAttribute"></path> </svg>
                                        </a>
                                        <div class="contactmodal responmodal" id="modalresponsive">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="infomationbox">
                                                        <ul>
                                                            <li>
                                                                <p class="contleftimg indiaflag"><img src="./images/Egypt-flag.png" alt="Egypt-flag"></p>
                                                                <p class="desrpright"><a href="tel:01003308104">+2-010-033-08104</a></p>
                                                            </li>


                                                            <li>
                                                                <p class="contleftimg">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z" id="mainIconPathAttribute" fill="green"></path> </svg>
                                                                </p>
                                                                <p class="desrpright"><a href="tel:01003308104">+2-010-033-08104</a></p>
                                                            </li>
                                                            <li>
                                                                <p class="contleftimg"><img src="./images/mailhangout.png" alt="Mail-Hangout"></p>
                                                                <p class="desrpright pti0">
                                                                    @*<a id="contact-email" href="mailto:@gmail.com">.com</a>
                                                                    <a id="contact-email" href="mailto:@gmail.com"></a>*@
                                                                </p>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-10 col-sm-10">
                        <div class="rightnavbar">
                            <div id="navbar" class="collapse navbar-collapse menubar">
                                <ul class="nav navbar-nav">
                                    <!--
                                <li class="locaphoneicon service-menu">
                                      <a href="javascript:void(0);">SERVICES<svg xmlns="http://www.w3.org/2000/svg" width="16.3" height="15" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" id="mainIconPathAttribute"></path> </svg></a>
                                      <div class="outerbox">
                                        <div class="contactmodal">
                                          <ul>
                                            <li><a href="ai-and-iot-solutions"> AI & IoT Solution</a></li>
                                            <li><a href="blockchain-development-company">Blockchain Development </a></li>
                                            <li><a href="bot-development">Bot Development</a></li>
                                            <li><a href="custom-software-development">Custom Software Development</a></li>
                                            <li><a href="./mobile-app-development.html">Mobile App Development</a></li>
                                            <li><a href="./digital-marketing-solutions.html">Digital Marketing Solutions</a></li>
                                            <li><a href="bpo-solution">BPO Solution</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </li> -->
                                    <li><a asp-controller="CustomSoftwareDevelopment" asp-action="Index">@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbcustom_software_development </a></li>
                                    <li><a asp-controller="DigitalMarketingSolutions" asp-action="Index">@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbDigital_Marketing_Solutions</a></li>
                                    <li><a asp-controller="MobileAppDevelopment" asp-action="Index">@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbMobile_App_Development</a></li>

                                    <li class="locaphoneicon">
                                        <a href="javascript:void(0);">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20.16" height="18" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16" id="IconChangeColor"> <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" id="mainIconPathAttribute" fill="#ffffff"></path> </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.3" height="15" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" id="mainIconPathAttribute"></path> </svg>
                                        </a>
                                        <div class="outerbox">
                                            <div class="contactmodal">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="infomationbox">
                                                            <ul>
                                                                <li>
                                                                    <p class="contleftimg indiaflag"><img src="./images/Egypt-flag.png" alt="Egypt-flag"></p>
                                                                    <p class="desrpright"><a href="tel:911412812458">+2-010-033-08104</a></p>
                                                                </li>
                                                                <li>
                                                                    <p class="contleftimg">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z" id="mainIconPathAttribute" fill="green"></path> </svg>
                                                                    </p>
                                                                    <p class="desrpright"><a href="https://api.whatsapp.com/send?phone=201003308104&app" target="_blank">+2-010-033-08104</a></p>
                                                                </li>
                                                                <li>
                                                                    <p class="contleftimg"><img src="./images/mailhangout.png" alt="Mail-Hangout"></p>
                                                                    <p class="desrpright pti0">
                                                                        <a id="contact-email" target="_self" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=target@email.com&subject=MISSED%20CALL%20EZTRADER&body=Hello%2C%0A%0AI%20tried%20contacting%20you%20today%20but%20you%20seem%20to%20have%20missed%20my%20call.%20%0A%0APlease%20return%20my%20call%20as%20soon%20as%20you%E2%80%99re%20available.%20%0A%0AIn%20any%20case%2C%20I%20will%20try%20ringing%20you%20at%20a%20later%20time.%0A%0A%0ATy%2C%0A%0A%0A%0A">sales@gmail.com</a>

                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li><a asp-controller="GetStarted" asp-action="Index" class="getintouch">@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbGet_In_Touch</a></li>
                                    <li class="last">
                                        <div class="header_top_lang_widget_home1">
                                            <select class="selectpicker show-tick" onchange="onCompanyChanged()">
                                                <option class="language_test">@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbLanguage</option>
                                                <option class="language_test">@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbEnglish</option>
                                                <option class="language_test">@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbFrench</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--</header> -->
        <!-- Slider Section Start -->
        <section class="animated fadeIn service-slider1 blockchain-slider-image">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="blockchain-development">
                            <img class="" src="~/images/degitalmarketingbanners.png" alt="degital marketing agency" style="width: 457.5px;">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="background-content service-slider-content">
                            <div class="top-slider">
                                <div class="carousel slide" data-ride="carousel" id="content-carousel">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="service-slider-content">
                                                <h2>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbDigital_Marketing_Solutions</h2>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="service-slider-content">
                                                <h2>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbTop_Digital</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <ol class="carousel-indicators">
                                        <li data-target="#content-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#content-carousel" data-slide-to="1"></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- <section class="service-dark-background animated fadeIn service-slider1">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="mobile-app-development">
              <img class="img-responsive" src="images/degitalmarketingbanners.png" alt="mobile-application">
            </div>
          </div>
          <div class=" col-lg-7 col-md-7 col-sm-7">
            <div class="background-content service-slider-content">
              <div class="top-slider">
                <div class="carousel slide" data-ride="carousel" id="content-carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                    <div class="service-slider-content">
                        <h2>Digital Marketing: Give A New Flight To Your Business </h2>
                      </div>
                    </div>
                    <div class="item ">
                      <div class="service-slider">
                        <h2>Top Digital Marketing Agency in Egypt</h2>
                      </div>
                    </div>
                  </div>
                  <ol class="carousel-indicators">
                    <li data-target="#content-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#content-carousel" data-slide-to="1" class=""></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
        <!-- Slider Section End -->
        <!-- Our Business Solutions Section Start -->
        <section class="Services-box padding50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="4Z Software-our-services text-center inner-service-paragraph">
                            <h1>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbMeet_Your</h1>

                        </div>
                    </div>
                </div>
            </div>
            <div class="services mt-4">
                <div class="container">
                    <div class="row">
                        <div class=" col-lg-6 col-md-6 col-sm-6">
                            <div class="service-image">
                                <img class="img-M-2" src="~/images/burn-&-crush.png" alt="AI-IoT-Solutions">
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6">
                            <div class="service-text">
                                <div class="service-heading mt-40">
                                    <!-- <h3>AI &amp; IoT Solutions</h3> -->
                                </div>
                                <div class="service-descreption">
                                    <p>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbMoree
                                        <br><br>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbweare
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="why-choose-us  section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="why-choose-box seo-services">
                                <img class="img-mark black-choose" src="~/images/search-marketing-black-icon.png" alt="ERP-Systems">
                                <img class="img-mark white-choose" src="~/images/search-marketing-white-icon.png" alt="ERP-Systems">
                                <div class="iotservice-heading">
                                    <h5>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbSe</h5>
                                </div>
                                <div class="iotservice-descreption marketing-services">
                                    <p>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbAppear 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="why-choose-box seo-services">
                                <img class="img-mark black-choose" src="~/images/crm-gray.png" alt="CRM-Platforms">
                                <img class="img-mark white-choose" src="~/images/crm-white.png" alt="CRM-Platforms">
                                <div class="iotservice-heading">
                                    <h5>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbOnline_Branding</h5>
                                </div>
                                <div class="iotservice-descreption marketing-services">
                                    <p>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbCreate 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="why-choose-box seo-services">
                                <img class="img-mark black-choose" src="~/images/direct-marketing-black-icon.png" alt="Cloud-Migration-and-Support">
                                <img class="img-mark white-choose" src="~/images/direct-marketing-white-icon.png" alt="E-commerce-Platforms">
                                <div class="iotservice-heading">
                                    <h5>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbDirect_Marketing</h5>
                                </div>
                                <div class="iotservice-descreption marketing-services">
                                    <p>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbOutreach 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="why-choose-box seo-services">
                                <img class="img-mark black-choose" src="~/images/social-marketing-icon.png"
                                     alt="Connectivity-Platforms ">
                                <img class="img-mark white-choose" src="~/images/social-marketing-white.png"
                                     alt="Connectivity-Platforms  ">
                                <div class="iotservice-heading">
                                    <h5>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbSocial_Media_Marketing </h5>
                                </div>
                                <div class="iotservice-descreption marketing-services">
                                    <p>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbGain 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="why-choose-box seo-services">
                                <img class="img-mark black-choose" src="~/images/rate-icon-black.png" alt="Content-Management">
                                <img class="img-mark white-choose" src="~/images/rate-icon-white.png" alt="Content-Management">
                                <div class="iotservice-heading">
                                    <h5>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbCONVERSION_RATE</h5>
                                </div>
                                <div class="iotservice-descreption marketing-services">
                                    <p>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbCRO 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="why-choose-box seo-services">
                                <img class="img-mark black-choose" src="~/images/video-marketing-icon-black.png"
                                     alt="Application-Maintenance-and-Support">
                                <img class="img-mark white-choose" src="~/images/video-marketing-icon-white.png"
                                     alt="Application-Maintenance-and-Support">
                                <div class="iotservice-heading">
                                    <h5>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbVIDEO_MARKETING</h5>
                                </div>
                                <div class="iotservice-descreption marketing-services">
                                    <p>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbVideo 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="why-choose-box seo-services">
                                <img class="img-mark black-choose" src="~/images/content-icon-black.png" alt="Content-Management">
                                <img class="img-mark white-choose" src="~/images/content-icon-white.png" alt="Content-Management">
                                <div class="iotservice-heading">
                                    <h5>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbCONTENT_MARKETING</h5>
                                </div>
                                <div class="iotservice-descreption marketing-services">
                                    <p>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbPutting
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="why-choose-box seo-services">
                                <img class="img-mark black-choose" src="~/images/website-audit-black-icon.png"
                                     alt="Application-Maintenance-and-Support">
                                <img class="img-mark white-choose" src="~/images/website-audit-white-icon.png"
                                     alt="Application-Maintenance-and-Support">
                                <div class="iotservice-heading">
                                    <h5>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbWEBSITE_AUDIT</h5>
                                </div>
                                <div class="iotservice-descreption marketing-services">
                                    <p>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbThe 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- Our Business Solutions Section End -->
        <section class="Services-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="4Z Software-our-services text-center inner-service-paragraph">
                            <h2>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbOur_Marketing_Services</h2>
                            <!-- <p>We are a team of agile developers and deliver fast &amp; cost effective solutions </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-bg ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-text optimization-details">
                                <div class="service-heading marketing-heading ">
                                    <h3>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbSearch</b> </h3>
                                </div>
                                <div class="service-descreption seo-marketing">
                                    <ul>
                                        <li class="dark-text">
                                            <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin" id="IconChangeColor"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" id="mainIconPathAttribute"></path><circle cx="12" cy="10" r="3"></circle></svg></span>
                                            Google and Bing Listing
                                        </li>
                                        <li class="dark-text">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-files-alt" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M11 0H3a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2 2 2 0 0 0 2-2V4a2 2 0 0 0-2-2 2 2 0 0 0-2-2zm2 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1V3zM2 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V2z" id="mainIconPathAttribute"></path> </svg>
                                            </span>
                                            On-Page Search Engine Optimization
                                        </li>
                                        <li class="dark-text">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-check-fill" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm1.354 4.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708z" id="mainIconPathAttribute"></path> </svg>
                                            </span>
                                            Off-Page search Engine Optimization
                                        </li>
                                        <li class="dark-text google-color">
                                            <span><img src="~/images/google-ads.png" alt="google ads" class="img-icon-M"></span>
                                            Google Search Ads
                                        </li>
                                        <li class="dark-text">
                                            <span><img src="~/images/bing.png" alt="bing" class="img-icon-M"></span>
                                            Bing Ads Center
                                        </li>
                                        <li class="dark-text">
                                            <span><img src="~/images/display-ads.png" alt="display ads" class="img-icon-M"></span>
                                            Google Display ads and Remarketing
                                        </li>
                                        <li class="dark-text shopping-color">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" id="mainIconPathAttribute"></path> </svg>
                                            </span>
                                            Shopping feeds and Remarketing
                                        </li>
                                        <li class="dark-text you-tube-color">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" id="mainIconPathAttribute" fill="#ff0000"></path> </svg>
                                            </span>
                                            Youtube Ads and Remarketing
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="optimization-marketing">
                                <img class="img-responsive" src="~/images/our-marketing.png" alt="Search Engine Optimization">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-bg bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="optimization-marketing">
                                <img class="" src="~/images/smo-marketing.png" alt="Search Engine Optimization" style="width: 450px;height:294px">
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6">
                            <div class="service-text optimization-details social-media">
                                <div class="service-heading marketing-heading">
                                    <h3>Social Media<b> Marketing</b> </h3>
                                </div>
                                <div class="service-descreption seo-marketing">
                                    <ul>
                                        <li class="dark-text compass-color">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" id="mainIconPathAttribute"></path> <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" id="mainIconPathAttribute"></path> </svg>
                                            </span>
                                            Social Media Influencer
                                        </li>
                                        <li class="dark-text twitter-color">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" id="mainIconPathAttribute" fill="#45a1f2" stroke="#45a1f2" stroke-width="0"></path> </svg>
                                            </span>
                                            Twitter Marketing
                                        </li>
                                        <li class="dark-text insta-color">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" id="mainIconPathAttribute" fill="purple"></path> </svg>
                                            </span>
                                            Instagram Marketing
                                        </li>
                                        <li class="dark-text you-tube-color">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" id="mainIconPathAttribute" fill="#ff0000"></path> </svg>
                                            </span>
                                            YouTube Marketing
                                        </li>
                                        <li class="dark-text linkedin-color">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" id="mainIconPathAttribute" fill="#0a66c2"></path> </svg>
                                            </span>
                                            LinkedIn Marketing
                                        </li>
                                        <li class="dark-text facebook-color">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" id="mainIconPathAttribute" fill="#17a9fd"></path> </svg>
                                            </span>
                                            Facebook Marketing and Advertising
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why Choose Us Section Start -->
        <section class="why-choose-us padding50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="4Z Software-our-services text-center inner-service-paragraph">
                            <h2>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbWhy_Choose_Us</h2>
                            <!-- <p>We are a team of agile developers and deliver fast &amp; cost effective solutions </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="services">
                <div class="container">
                    <div class="row">
                        <div class=" col-lg-6 col-md-6 col-sm-12">
                            <div class="service-text">
                                <div class="service-heading">
                                    <h3>Why choose Us: </h3>
                                </div>
                                <div class="service-descreption">
                                    <p>
                                        @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lb4
                                    </p>
                                    <h3>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbHow </h3>
                                    <div class="why-choose-us-details optimization-details">
                                        <ul>
                                            <li class="dark-text">
                                                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lb1st 
                                            </li>
                                            <li class="dark-text">
                                                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbAffordable_digital_marketing_services
                                            </li>
                                            <li class="dark-text">
                                                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbPerformance
                                            </li>

                                        </ul>
                                        <ul class="why-choose-list">

                                            <li class="dark-text">
                                                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbQualified 
                                            </li>
                                            <li class="dark-text">
                                                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbCost
                                            </li>
                                            <li class="dark-text">
                                                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                @_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbSpecialized
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-12">
                            <div class="service-image mt-40">
                                <img class="img-responsive" src="~/images/digital-marketing-google-SERP.png" alt="AI-IoT-Solutions">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why Choose Us Section End -->
        <!-------Project Feature Section Start---------->
        <!--
    <section class="project-feature-box bg-dark section-padding">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="4Z Software-our-services text-center inner-service-paragraph">
                    <h2> Featured <span>Projects</span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="project-feature-item">
                        <div class="item-img">
                          <img class="img-responsive" src="images/desk-track-web.png" alt="meTo">
                        </div>
                        <div class="project-feature-item-txt">
                          <div class="service-box-content">
                            <h5>Desk Track</h5>
                    <p>DeskTrack is a real-time time tracking and system monitoring software which records actual working
                      and idle hours moreover provide the insight details of the system like applications opened, URLs
                      browsed, documents opened with total time spent on them.</p>
                            <a href="./desktrack" target="_blank">Read More</a>
                            <ul>
                      <li><a href="https://play.google.com/store/apps/details?id=in.co.discoveideas.meto&amp;hl=en_IN"
                          target="_blank"><i class="ion-social-android"></i></a></li>
                            </ul>
                          </div>
                          <div class="item-logo">
                            <img class="img-responsive" src="images/DeskTrack-logo.png" alt="Desk-track">
                          </div>
                        </div>
                      </div>
                    </div>
                <div class="col-md-6">
                  <div class="project-feature-item">
                    <div class="item-img">
                      <img class="img-responsive" src="images/Write4joy-screen.png" alt="attavik">
                    </div>
                    <div class="project-feature-item-txt">
                      <div class="service-box-content">
                        <h5>Write4joy</h5>
                    <p>Write4joy App will help children and adults to learn the art of writing creatively. Writing stories,
                      poems, plays, and essays will become a joy. Learn how to build your character,
                      Blend the characters into a setting and create a plot that will tell the entire story of your
                      character.</p>
                          <a href="write4joy" target="_blank">Read More</a>
                          <ul>
                            <li><a href="https://apps.apple.com/us/app/write4joy/id1324430952" target="_blank">
                              <i class="ion-social-apple"></i></a>
                            </li>
                          </ul>
                        </div>
                        <div class="item-logo">
                          <img class="img-responsive" src="images/Write4joy-logo.png" alt="Write4joy">
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </section>-->
        <!-------Project Feature Section End---------->

        <section class="getaquotation">
            <div class="overlay darkoverlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="contact-form getquotation clearfix">
                            <div class="contact-heading">
                                <h2>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbLet</h2>
                            </div>
                            <form asp-controller="Home" asp-action="Index" role="form" method="post" enctype="multipart/form-data" id="submitform" class="contact-form">
                                <div class="alert alert-info display-none" id="errorMsg"> <a href="javascript:void(0);" onclick="closeError();" class="close">&times;</a> <span id="error"></span> </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="contactsection">
                                            <input type="text" name="name" id="fname" placeholder="Full Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="contactsection">
                                            <input type="text" id="othercontact" name="links" placeholder="Skype / Hangout / Linked In">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="contactsection">
                                            <input type="Email" id="email" name="email" placeholder="Email Id">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="contactsection get-countrycode">
                                            <select name="country" id="country" class="contry-input">
                                                <option data-countrycode="GB" value="91" selected="">+20</option>
                                                <option data-countrycode="US" value="1">Egypt (+20)</option>
                                                <optgroup label="Other countries">
                                                    <option data-countrycode="DZ" value="213">(+213)</option>
                                                    <option data-countrycode="AD" value="376">(+376)</option>
                                                    <option data-countrycode="AO" value="244">(+244)</option>
                                                    <option data-countrycode="AI" value="1264">(+1264)</option>
                                                    <option data-countrycode="AG" value="1268">(+1268)</option>
                                                    <option data-countrycode="AR" value="54">(+54)</option>
                                                    <option data-countrycode="AM" value="374">(+374)</option>
                                                    <option data-countrycode="AW" value="297">(+297)</option>
                                                    <option data-countrycode="AU" value="61">(+61)</option>
                                                    <option data-countrycode="AT" value="43">(+43)</option>
                                                    <option data-countrycode="AZ" value="994">(+994)</option>
                                                    <option data-countrycode="BS" value="1242">(+1242)</option>
                                                    <option data-countrycode="BH" value="973">(+973)</option>
                                                    <option data-countrycode="BD" value="880">(+880)</option>
                                                    <option data-countrycode="BB" value="1246">(+1246)</option>
                                                    <option data-countrycode="BY" value="375">(+375)</option>
                                                    <option data-countrycode="BE" value="32">(+32)</option>
                                                    <option data-countrycode="BZ" value="501">(+501)</option>
                                                    <option data-countrycode="BJ" value="229">(+229)</option>
                                                    <option data-countrycode="BM" value="1441">(+1441)</option>
                                                    <option data-countrycode="BT" value="975">(+975)</option>
                                                    <option data-countrycode="BO" value="591">(+591)</option>
                                                    <option data-countrycode="BA" value="387">(+387)</option>
                                                    <option data-countrycode="BW" value="267">(+267)</option>
                                                    <option data-countrycode="BR" value="55">(+55)</option>
                                                    <option data-countrycode="BN" value="673"> (+673)</option>
                                                    <option data-countrycode="BG" value="359">(+359)</option>
                                                    <option data-countrycode="BF" value="226">(+226)</option>
                                                    <option data-countrycode="BI" value="257">(+257)</option>
                                                    <option data-countrycode="KH" value="855">(+855)</option>
                                                    <option data-countrycode="CM" value="237">(+237)</option>
                                                    <option data-countrycode="CA" value="1">(+1)</option>
                                                    <option data-countrycode="CV" value="238">(+238)</option>
                                                    <option data-countrycode="KY" value="1345">(+1345)</option>
                                                    <option data-countrycode="CF" value="236">(+236)</option>
                                                    <option data-countrycode="CL" value="56">(+56)</option>
                                                    <option data-countrycode="CN" value="86">(+86)</option>
                                                    <option data-countrycode="CO" value="57">(+57)</option>
                                                    <option data-countrycode="KM" value="269">(+269)</option>
                                                    <option data-countrycode="CG" value="242">(+242)</option>
                                                    <option data-countrycode="CK" value="682">(+682)</option>
                                                    <option data-countrycode="CR" value="506">(+506)</option>
                                                    <option data-countrycode="HR" value="385">(+385)</option>
                                                    <option data-countrycode="CU" value="53">(+53)</option>
                                                    <option data-countrycode="CY" value="90392">(+90392)</option>
                                                    <option data-countrycode="CY" value="357">(+357)</option>
                                                    <option data-countrycode="CZ" value="42">(+42)</option>
                                                    <option data-countrycode="DK" value="45">(+45)</option>
                                                    <option data-countrycode="DJ" value="253">(+253)</option>
                                                    <option data-countrycode="DM" value="1809">(+1809)</option>
                                                    <option data-countrycode="DO" value="1809">(+1809)</option>
                                                    <option data-countrycode="EC" value="593">(+593)</option>
                                                    <option data-countrycode="EG" value="20">(+20)</option>
                                                    <option data-countrycode="SV" value="503">(+503)</option>
                                                    <option data-countrycode="GQ" value="240">(+240)</option>
                                                    <option data-countrycode="ER" value="291">(+291)</option>
                                                    <option data-countrycode="EE" value="372">(+372)</option>
                                                </optgroup>
                                            </select>
                                            <input class="" id="mobile" name="phone" placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-ms-12 col-sm-12">
                                        <label for="data-name">Upload Image</label>

                                        <input class=" form-control" name="files" type="file" placeholder="Image Name">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="textera">
                                                <textarea cols="20" rows="5" name="content" id="content" placeholder="Send Message"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-button long-button">
                                        <button type="submit"><span>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbGet_A_Free_Quote <small class="loader contact-loader"><img class="loadingimg" src="images/loading_apple.gif" alt="loading_apple.gif"></small></span></button>
                                    </div>
                                    <!-- <input type="hidden" name="recaptcha_response" id="recaptchaResponse"> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <!-- <section class="gettouchsection animated fadeIn">
      <div class="overlay darkoverlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="getquotebox">
              <h3>Need Forward-Thinking Software?</h3>
              <div class="get-touch-btn"><a href="get-in-touch.php"><span> Get in Touch</span></a> </div>
              </div>
          </div>
        </div>
      </div>

    </section> -->
        <!-- Footer Section Start -->
        <footer class="wave animated fadeIn bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <!--
                    <div class="technology">
                      <h3>Other Info</h3>
                      <span></span>
                      <ul>
                        <li><a href="./blog/career.html">We are Hiring?</a> </li>
                        <li><a href="blog.1" target="_blank" rel="noopener noreferrer">Blog</a></li>
                        <li><a href="events.php">Events </a></li>
                        <li><a href="engagement-models.php">Engagement Models </a> </li>
                        <li><a href="knowledge-base.php">Knowledge Base</a> </li>
                        <li><a href="terms-condition.php" >Terms & Condition </a> </li>
                        <li><a href="privacy-policy.php" >Privacy Policy </a> </li>
                      </ul>
                    </div>
                    -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="technology">
                            <h3>Services</h3>
                            <span></span>
                            <ul>
                                <li><a href="Iot-solution.php"> AI & IoT Solution</a></li>
                                <li><a href="blockchain-development-company.php">Blockchain Development </a> </li>
                                <li><a href="bot-development.php">Bot Development</a> </li>
                                <li><a asp-controller="CustomSoftwareDevelopment" asp-action="Index">@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbCustom_Software_and_Application_Development_Services</a></li>
                                <li><a asp-controller="MobileAppDevelopment" asp-action="Index">@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbMobile_App_Development</a> </li>
                                <li><a asp-controller="DigitalMarketingSolutions" asp-action="Index">@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbDigital_Marketing_Solutions</a> </li>
                                <li><a asp-controller="CustomSoftwareDevelopment" asp-action="Index">BPO Solution</a> </li>
                            </ul>
                        </div>
                        <!--
                    <div class="technology">
                      <h3>Products</h3>
                      <span></span>
                      <ul>
                        <li><a href="https://timentask.com/" title="TimenTask" target="_blank">TimenTask</a> </li>
                        <li><a href="https://desktrack.timentask.com/" title="DeskTrack" target="_blank">DeskTrack</a> </li>
                      </ul>
                    </div>
                    -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="technology">
                            <h3>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbGet_In_Touch</h3>
                            <span></span>
                            <div class="address-detail">
                                <div class="inner-address">
                                    <p> <strong>مصر :  </strong>الهرم شارع المحافظة , 19 احمد كامل 12512   </p>
                                    <p><strong class="contactnumb">مصر </strong><a href="tel:+02 010 28 12 458">+2 01003308104</a></p>
                                </div>
                            </div>
                            <div class="address-detail mail12box">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" id="mainIconPathAttribute"></path> </svg></span>
                                <div class="inner-address email-address">
                                    <p>
                                        <a id="info-email" class="mail-info" href=""></a><br>
                                        <a id="info-email" class="mail-info" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=4zsoftware00@gmail.com&subject=MISSED%20CALL%20EZTRADER&body=Hello%2C%0A%0AI%20tried%20contacting%20you%20today%20but%20you%20seem%20to%20have%20missed%20my%20call.%20%0A%0APlease%20return%20my%20call%20as%20soon%20as%20you%E2%80%99re%20available.%20%0A%0AIn%20any%20case%2C%20I%20will%20try%20ringing%20you%20at%20a%20later%20time.%0A%0A%0ATy%2C%0A%0A%0A%0A">4zsoftware00@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="technology">
                            <h3>@_4ZsoftwareCompanyWebsite.Resources.ResWebsite.lbCONNECT_WITH_US</h3>
                            <span></span>
                            <ul class="addressul">
                                <li class="social-icon"><a href="https://www.facebook.com/4zsoftware" target="_blank" title="Facebook"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" id="mainIconPathAttribute" fill="#17a9fd"></path> </svg></a></li>
                                <li class="social-icon"><a href="https://www.linkedin.com/company/4z-software/" target="_blank" title="Linkedin"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" id="mainIconPathAttribute" fill="#0a66c2"></path> </svg></a></li>
                                <li class="social-icon"><a href="https://twitter.com/MahmoudSaliman3" target="_blank" title="twitter"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" id="mainIconPathAttribute" fill="#45a1f2" stroke="#45a1f2" stroke-width="0"></path> </svg></a></li>
                                <li class="social-icon"><a href="https://www.youtube.com/channel/UCcf08CJ5ROQnZmPfPk41lWw" target="_blank" title="youtube"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" id="mainIconPathAttribute" fill="#ff0000" stroke-width="0" stroke="#ff0000"></path> </svg></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="copyright animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copy-content">
                                <p>Copyright <i class=""></i> 2022 <a asp-controller="Home" asp-action="Index" target="_blank">Mohamed Fawzy</a>. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <script type="text/javascript" src="~/js/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script>
            $(window).scroll(function () {
                if ($(document).scrollTop() > 50) {
                    $('.nav').addClass('affix');
                } else {
                    $('.nav').removeClass('affix');
                }
            });
            $('.navTrigger').click(function () {
                $(this).toggleClass('active');
                console.log("Clicked menu");
                $("#mainListDiv").toggleClass("show_list");
                $("#mainListDiv").fadeIn();
            });
            $(document).ready(function () {
                $("#testimonial-slider").owlCarousel({
                    items: 3,
                    itemsDesktop: [1000, 3],
                    itemsDesktopSmall: [979, 2],
                    itemsTablet: [768, 2],
                    itemsMobile: [650, 1],
                    pagination: true,
                    autoPlay: true
                });

                $("#logoSlider").owlCarousel({
                    items: 5,
                    itemsDesktop: [1000, 5],
                    itemsDesktopSmall: [979, 4],
                    itemsTablet: [768, 3],
                    itemsMobile: [650, 2],
                    pagination: false,
                    autoPlay: true
                });
                $("#ourTeamSlider").owlCarousel({
                    items: 4,
                    itemsDesktop: [1000, 3],
                    itemsDesktopSmall: [979, 3],
                    itemsTablet: [768, 2],
                    itemsMobile: [650, 1],
                    pagination: true,
                    autoPlay: true
                });
                $("#ourblogslider").owlCarousel({
                    items: 3,
                    itemsDesktop: [1000, 3],
                    itemsDesktopSmall: [979, 2],
                    itemsTablet: [768, 2],
                    itemsMobile: [650, 1],
                    navigation: true,
                    navigationText: ["", ""],
                    slideSpeed: 1000,
                    pagination: false,
                    autoPlay: true
                });
                $("#contact-client").owlCarousel({
                    items: 2,
                    itemsDesktop: [2000, 2],
                    itemsDesktopSmall: [979, 2],
                    itemsTablet: [768, 2],
                    itemsMobile: [650, 2],
                    pagination: false,
                    autoPlay: true
                });
            });
        </script>

        <script type="text/javascript">

            $(document).ready(function () {
                $('#choosefile').on('change', function () {
                    var fileName = $(this).val().split('\\').pop();
                    $("#noFile").text(fileName)
                })
            })



        </script>
        <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
        <script>
            $(document).ready(function () {
                $("#industrySlider").owlCarousel({
                    items: 5,
                    itemsDesktop: [1000, 5],
                    itemsDesktopSmall: [979, 3],
                    itemsTablet: [768, 3],
                    itemsMobile: [650, 2],
                    pagination: false,
                    autoPlay: true
                });
            });

            $(document).ready(function () {
                $('#mobileFeaturedProjects').owlCarousel({
                    items: 2,
                    itemsDesktop: [1000, 2],
                    itemsDesktopSmall: [979, 2],
                    itemsTablet: [768, 1],
                    itemsMobile: [650, 1],
                    pagination: false,
                    autoPlay: true
                })
                $('#featurebox').owlCarousel({
                    items: 1,
                    itemsDesktop: [1000, 1],
                    itemsDesktopSmall: [979, 1],
                    itemsTablet: [768, 1],
                    itemsMobile: [650, 1],
                    pagination: true,
                    autoPlay: true
                })
            });
        </script>
        <script>

            function onCompanyChanged() {
                var selectedValue = $(":selected").val();
                if (selectedValue === "English" || selectedValue === "الإنجليزية") {
                    window.location.href = `/Home/ChangeLanguage?lang=en&url=${window.location.href}`;
                }
                else if (selectedValue === "العربية" || selectedValue === "Arabic") {
                    window.location.href = `/Home/ChangeLanguage?lang=ar&url=${window.location.href}`;
                }
            }
            var lang = "ar";

            function OpenChangeLang() {
                var elements = document.getElementsByClassName("language_test dropdown-item");
                var selectedValue = $(":selected").val();
                if (selectedValue === "الإنجليزية") {
                    window.location.href = `/Home/ChangeLanguage?lang=en&url=${window.location.href}`;
                }



            }
        </script>
</body>
</html>
